@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("../public/fonts/Satoshi-Light.otf");
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../public/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../public/fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Geist-Variable";
  src: url("../public/fonts/GeistVF.ttf");
}

html,
body {
  height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
